@media screen and (max-width: 480px) {
    .header {
        border-bottom: 1px solid $header-border-color;
        &__pages-list {
            display: none;
        }
        &__contacts-list {
            display: none;
        }
    }
    
}


