.hero {
    height: auto;
    background-color: $hero-footer-color;
    text-align: center;
    &__title {
        color: $logo-white;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;    
    }
    
}
@media screen and (max-width: 480px) {
    .hero {
        padding-top: 118px;
        padding-bottom: 118px;
        &__title {

            font-weight: 900;
            font-size: 26px;
            line-height: 1.62;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            max-width: 360px;
            height: auto;
        }
    }
}







.overlay {
    
    margin-left: auto;
    margin-right: auto;    
    background-image: linear-gradient(to right, $hero-overlay,$hero-overlay), url(../image/hero-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 480px) {
    .overlay {
        max-width: 1600px;
    }
    
}