$logo-black: #000000;
$logo-white: #FFFFFF;
$main-text-color: #757575;
$secondary-text-color: #2196F3;
$header-text-color: #212121;
$hero-footer-color: #2F303A;
$secondary-color: #F5F4FA;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$border-color: #EEEEEE;
$header-border-color: #ECECEC;
$hero-overlay: rgba(47, 48, 58, 0.4);
$icon-grey: #AFB1B8;
$footer-join-icon: rgba(255, 255, 255, 0.1);
$examples-background: rgba(47, 48, 58, 0.8);
$thumb-background: rgba(33, 150, 243, 0.9);
$modal-background: rgba(0, 0, 0, 0.2);
$modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$transition-time: 250ms;
$modal-input-border: rgba(33, 33, 33, 0.2);
$modal-placeholder-color: rgba(117, 117, 117, 0.5);
$blue-button-hover: #188CE8;